/*
 * Base
 */

body {
  background-color: #fbfafb;
  color: #312c32;
  font-weight: 300;
  font-size: 16px;
}

.col-center {
  width: 620px;
  height: 100%;
  margin: 0 auto;
}

/*
 * Title
 */

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

/*
 * Game
 */

.game-container {
  margin-top: 30px;
}

.game-main-wrapper {
  width: 620px;
  height: 420px;
}

.game-main {
  width: 620px;
  height: 420px;
  display: block;
  margin: 30px 0 10px 0;
  background-color: #fff;
  border: 10px solid #000;
}

.game-overlay {
  position: absolute;
  z-index: 98;
  width: 600px;
  height: 400px;
  margin: 10px;
  background-color: rgb(62, 56, 64);
}

.game-overlay-message {
  position: absolute;
  z-index: 99;
  width: 600px;
  margin: 140px 10px;
  text-align: center;
  color: #fbfafb;
  font-size: 28px;
  font-family: 'Courier', sans-serif;
}

.game-info-text {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 700;
}

.left {
  float: left;
}

.right {
  float: right;
}

.message-wrapper {
  float: left;
}

.spacer {
  clear: both;
  height: 10px;
}

/*
 * Config
 */

.config-container {
  margin-top: 40px;
}

.form-label {
  min-width: 160px;
}
